body {
    background: rgb(51, 51, 51);
    color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
    background-color: rgb(24, 24, 24);
    color: whitesmoke;
}

.navbar .btn {
    color: whitesmoke;
    border: none;
    outline: none;
}

.navbar .btn:hover {
    border: none;
    outline: none;
    color: rgb(24, 24, 24);
    background-color: #f5cbe1;
}

.form-group input,
.form-group select {
    border: none;
    border-radius: 8px;
    background-color: whitesmoke;
}


.form-group input:focus,
.form-group input:hover {
    background-color: #f7d7e7;
    outline: none;
    border: none;
}

.form-group select:hover,
.form-group select:focus {
    background-color: transparent;
    outline: none;
    border: none;
}

.form-group .input-group-text,
.form-group .input-group {
    border: none;
    background-color: transparent;
    border-radius: 8px;
}

.form-group .input-group:focus,
.form-group .input-group:hover {
    background-color: #f7d7e7;
    outline: none;
    border: none;
}

.form-group .input-group {
    background-color: whitesmoke;
}

.jumbotron {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 0;
    background-image: url('assets/banner_img.jpg');
    border-radius: 0;
}

@media (min-width: 768px) {
    .jumbotron {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron-heading {
    font-weight: 400;
}

.jumbotron .container {
    max-width: 40rem;
}

.search-button {
    border: none;
    background-color: rgb(24, 24, 24);
    color: whitesmoke;
    cursor: pointer;
    border-radius: 10px;
    margin: 0;
}

.search-button:hover {
    color: whitesmoke;
    background-color: #501c37;
    transition: 0.3s ease-in-out;
}

.bs-canvas-header {
    color: rgb(24, 24, 24);
    background-color: #f5cbe1;
}

.bs-canvas-overlay {
    opacity: 0;
    z-index: -1;
}

.bs-canvas-overlay.show {
    opacity: 0.85;
    z-index: 1100;
}

.bs-canvas {
    top: 0;
    width: 0;
    z-index: 1110;
    overflow-x: hidden;
    overflow-y: auto;
    background: rgb(51, 51, 51);
    border-right: 2px solid rgb(114, 114, 114);
}

.bs-canvas-left {
    left: 0;
}

.bs-canvas-anim {
    transition: all .4s ease-out;
    -webkit-transition: all .4s ease-out;
    -moz-transition: all .4s ease-out;
    -ms-transition: all .4s ease-out;
}

.section-title {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
    color: rgb(255, 255, 255);
}

.menu-hr {
    border-top: 1px solid rgb(114, 114, 114);
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.menu-ul, .h3-menu {
    margin-left: 5%;
    font-weight: 200;
}

.h3-menu {
    padding: 5px;
    font-weight: 300;
}

.menu-li {
    margin-bottom: 10px;
}

.h3-menu:hover, .menu-li:hover {
    text-decoration: underline;
}

.card {
    text-decoration: none;
    color: whitesmoke;
    border-radius: 10px;
    border: 1px solid #ffc0e1;
    box-shadow: 0 0 8px #ffc0e1;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    background: rgb(51, 51, 51);
}

.card:hover {
    text-decoration: none;
    color: whitesmoke;
    transform: scale(1.05);
    box-shadow: 0 0 10px #ffc0e1;
}

.card img {
    border-radius: 10px 10px 0px 0px;
}

.table thead {
    background: #ff98cda4;
    color: rgb(51, 51, 51);
}

.table tbody {
    color: whitesmoke
}

.table-hover tbody tr:hover {
    background: #ffc0e0c0;
}


footer {
    background-color: rgb(24, 24, 24);
    padding-top: 3rem;
    padding-bottom: 3rem;
}

footer a {
    color: white;
    text-decoration: none;
}

.footer-logo {
    width: 70px;
}

.footer-social a {
    display: inline-block;
    margin: 0 5px;
}

.footer-social img {
    width: 36px;
    height: auto;
}

.footer-copy {
    margin-top: 20px;
    font-size: 0.75em;
    text-align: center;
}