.jumbotron {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 0;
    background-color: #fff;
  }
  @media (min-width: 768px) {
    .jumbotron {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }
  }
  
  .jumbotron p:last-child {
    margin-bottom: 0;
  }
  
  .jumbotron-heading {
    font-weight: 300;
  }
  
  .jumbotron .container {
    max-width: 40rem;
  }
  
  footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  
  footer p {
    margin-bottom: .25rem;
  }

  .bs-canvas-overlay {
    opacity: 0;
    z-index: -1;
 }
 
 .bs-canvas-overlay.show {
    opacity: 0.85;
    z-index: 1100;
 }
 
 .bs-canvas {
    top: 0;
    width: 0;
    z-index: 1110;
    overflow-x: hidden;
    overflow-y: auto;
 }
 
 .bs-canvas-left {
    left: 0;
 }
 
 .bs-canvas-right {
    right: 0;
 }
 
 .bs-canvas-anim {
    transition: all .4s ease-out;
    -webkit-transition: all .4s ease-out;
    -moz-transition: all .4s ease-out;
    -ms-transition: all .4s ease-out;
 }

 .footer {
    background-color: rgb(24, 24, 24);
    color: white;
    text-align: center;
    padding: 20px 0;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.footer-logo {
    width: 70px;
}

.footer-links a {
    display: block;
    color: white;
    text-decoration: none;
    margin: 3px 0;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-social a {
    display: inline-block;
    margin: 0 5px;
}

.footer-social img {
    width: 36px;
    height: auto;
}

.footer-copy {
    margin-top: 20px;
    font-size: 0.75em;
}