/* set all components' margin to 0 */
* {
    margin: 0;
}

body {
    background: rgb(51, 51, 51);
    color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* header settings */
.header {
    background-color: rgb(24, 24, 24);
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.header .left_menu,
.header .logo,
.header .session {
    width: 60px;
}

.header .name {
    flex: 1;
    text-align: center;
    font-size: larger;
}

/* main content settings */
.main {
    display: flex;
    min-height: 100vh;
}

/* lateral menu */
.main .left_menu {
    padding-top: -20px;
    min-width: 250px;
    border-right: 2px solid rgb(114, 114, 114);
    min-height: 100vh;
    max-height: 100%;
}

.left_menu hr {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.menu-ul, .h3-menu {
    margin-left: 5%;
    font-weight: 200;
}

.h3-menu {
    padding: 5px;
    font-weight: 300;
}

.menu-li {
    margin-bottom: 10px;
}

.h3-menu:hover, .menu-li:hover {
    text-decoration: underline;
}

.main .left_menu h3 {
    margin-left: 5%;
    padding: 20px;
    font-weight: 300;
}

.main .left_menu ul {
    margin-left: 10%;
    font-weight: 200;
}

.main .left_menu li {
    font-weight: 200;
    margin-bottom: 10px;
}

/* center */
.main .center {
    padding: 20px;
    flex-grow: 1;
    flex-direction: column;
    max-height: fit-content;
}

/* banner with form */
.banner {
    width: 100% + 20px;
    padding: -20px;
    margin: -20px -20px -0px -20px;
    height: 400px;
    background-image: url('../assets/banner_img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* formulario */
.input-group {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

.input-group h1 {
    margin-bottom: 15px;
    color: white;
    text-shadow: 0 0 3px #252525de;
    text-align: center;
}

.input-group form {
    display: block;
}

.button-container,
.input-container,
.date-group {
    width: 100%;
    margin-bottom: 10px;
}

.input-icon input:focus {
    border: none;
    outline: none;
    background-color: #f5cbe1;
}

.input-icon input:hover {
    border: none;
    background-color: #f5cbe1;
    transition: 0.3s ease-in-out, 0.3s ease-in-out
}

.input-icon {
    position: relative;
    display: block;
    width: 100%;
}

.input-icon input {
    width: calc(100% - 35px);
    padding: 10px 10px 10px 35px;
    margin-bottom: 0;
    border-radius: 4px;
    background-color: #e4e4e4;
    border: none;
}

.input-icon .icon {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: auto;
    padding: 10px;
}

.date-group {
    display: flex;
    justify-content: space-between;
}

.date-input {
    width: 48%;
}

.button-container .search-button {
    border: none;
    padding: 10px;
    background-color: rgb(24, 24, 24);
    ;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    margin: 0;
    width: calc(100% + 12px);
}

.search-button:hover {
    background-color: #501c37;
    transition: 0.3s ease-in-out;
}

.button-container {
    position: relative;
    display: block;
}

/* cards settings */
.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.title {
    text-align: center;
    padding-top: 70px;
    padding-bottom: 50px;
    color: white;
    text-shadow: 0 0 3px #474747de;
    display: block;
}

.card {
    text-decoration: none;
    color: #fff;
    border-radius: 8px;
    width: calc(33.333% - 40px);
    margin-bottom: 20px;
    border: 1px solid #ffc0e1;
    box-shadow: 0 0 8px #ffc0e1;
    align-items: stretch;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    min-height: 200px;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px #ffc0e1;
}

.card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card .container {
    padding: 2px 16px;
}

/* two columns */
@media (max-width: 800px) {
    .card {
        width: calc(50% - 40px);
        /* 2 cards x row */
    }
}

/* one column */
@media (max-width: 500px) {
    .card {
        width: calc(100% - 40px);
        /* 1 card x row */
    }
}

/* table top destinations */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 70px;
}

th,
td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #ffc0e1ab;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f246;
}

tr:hover {
    background-color: #aa688aab;
}

/* footer settings */
.footer {
    background-color: rgb(24, 24, 24);
    color: white;
    text-align: center;
    padding: 20px 0;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.footer-logo {
    width: 100px;
}

.footer-links a {
    display: block;
    color: white;
    text-decoration: none;
    margin: 3px 0;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-social a {
    display: inline-block;
    margin: 0 5px;
}

.footer-social img {
    width: 36px;
    height: auto;
}

.footer-copy {
    margin-top: 20px;
    font-size: 0.75em;
}

hr {
    height: 2px;
    border: none;
    margin-top: 0;
    padding-top: 0;
    background: rgb(155, 155, 155)
}

/*ffc0e1 - rosa